@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

html {
  scroll-behavior: smooth;
}

@utility container {
  margin-inline: auto;
  max-width: 1440px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), system-ui, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-generalsans), system-ui, sans-serif;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }

  h2 {
    font-size: 2.375rem; /* 38px */
    line-height: 1.25;
    font-weight: 700;
  }

  h3 {
    font-size: 1.875rem; /* 30px */
    line-height: 1.3;
    font-weight: 600;
  }

  h4 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.35;
    font-weight: 600;
  }

  h5 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.4;
    font-weight: 600;
  }

  h6 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.65;
    font-weight: 600;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neutral-900: #1e1b29;
  --color-neutral-800: #35323e;
  --color-neutral-500: #fff8f4;
  --color-neutral-400: #f7f6f9;
  --color-neutral-300: #edecee;
  --color-neutral-200: #efeff1;
  --color-neutral-100: #ffffff;

  --color-accent-400: #ee6034;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
